<!DOCTYPE html>
<html>
  <head> 


  </head>
  <body>
    <h1>Star Nursing</h1>
    <p>This is base.html</p>
    <a href='{% url "home" %}'>Home</a>
    
    {% comment %}
    This is an href example calling articles object
    <a href='{% url "articles:detail" slug="hello-world" %}'>Hello world article</a>
    {% endcomment %}
    
    <form action='/articles/' method='GET'>
      <input type='text' name='q'/>
      <input type='submit' />
    </form>
    {% block content %} {% endblock content %}
  </body>
</html>